name: CI

on: [push]

jobs:

  activate:
    runs-on: self-ubuntu-20.04
    if: |
      github.repository == 'master-csmi/csmi-stages' &&
      !startsWith(github.event.head_commit.message, 'Release ') &&
      !contains(github.event.head_commit.message, 'ci skip')
    steps:
    - run: echo ok go

  docs:
    if: "!contains(github.event.head_commit.message, 'doc skip')"
    needs: activate
    runs-on: self-ubuntu-20.04
    steps:
    - uses: actions/checkout@v2.3.1
    - name: Install 
      run: npm install
    - name: Install credentials
      run: echo https://$GITHUB_OAUTH:@github.com > $HOME/.git-credentials
      env:
        GITHUB_OAUTH: ${{ secrets.CR_PAT }}
    - name: Build
      run: npm run antora
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@4.1.1
      with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: public # The folder the action should deploy.

 